<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile=".\internal_logs\internal-log.txt">

  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <variable name="logDirectory" value="${environment:logPath}/logs/${shortdate}"/>

  <targets>
    <target name="fileLogDebug" xsi:type="File"
            fileName="${logDirectory}/debug.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="fileLogInfo" xsi:type="File"
            fileName="${logDirectory}/info.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="fileLogWarn" xsi:type="File"
            fileName="${logDirectory}/warnings.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="fileLogError" xsi:type="File"
            fileName="${logDirectory}/errors.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="fileLogFatal" xsi:type="File"
            fileName="${logDirectory}/fatal.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" level="Debug" writeTo="fileLogDebug" />
    <logger name="*" level="Info" writeTo="fileLogInfo" />
    <logger name="*" level="Warn" writeTo="fileLogWarn" />
    <logger name="*" level="Error" writeTo="fileLogError" />
    <logger name="*" level="Fatal" writeTo="fileLogFatal" />
  </rules>
</nlog>